body{
    display: flex;
    justify-content: center;
    background-color: #b29696;
}
button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

input {
    
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}
img{
background-color: #007BFF;
border-radius: 50px;
}
input:focus {
    border-color: #007BFF;
    outline: none;
}
#forecast{
    display: flex;
    margin-top: 100px;
}
.forecast-container {
    margin-top: 40px;
    text-align: center;
}

.forecast-days {
    display: flex;
    justify-content: space-around;
    
    margin-top: 100px;
}

.day {
    background-color: #60ceea;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 20px;
    margin: 0 10px;
    border-radius: 7px;
}

.forecast-icon img {
    width:100px;
    display: block;
    margin: 0 auto 10px;
}

.forecast-date {
    margin-bottom: 10px;
}